{% extends "base.html" %}

{% block section %}Defects{% endblock %}
{% block title %}Manage Defects{% endblock %}

{% block content %}

<div class="object-list-menu">
	<a href="/defects/create/"><img title="Create Defect" src="/app_media/images/icons/application_form_add.png" /></a>
</div>

<table class="object-list-table">
	<tr>
		<th></th>
		<th>Defect #</th>
        <th>Product Category</th>
        <th>Version</th>
        <th width="200">Short Description</th>
        <th>State</th>
        <th>Resolution</th>
	</tr>

	{% for object in object_list %}
	<tr class="style-{{ object.get_defectstate_display }}">
		<td class="object-list-item-menu-td" style="width:45px;">
			<span class="object-list-item-menu">
				<a href="/defects/detail/{{ object.pk }}"><img title="View Details" src="/app_media/images/icons/application_form_magnify.png" /></a>
                <a href="/defects/update/{{ object.pk }}"><img title="Update" src="/app_media/images/icons/application_form_edit.png" /></a>
<!--                <a href="/defects/delete/{{ object.pk }}"><img title="Delete" src="/app_media/images/icons/application_form_delete.png" /></a>-->
			</span>
		</td>
		<td><a href="/defects/detail/{{ object.pk }}">{{ object.pk }}</a></td>
		<td><a href="/products/detail/{{ object.productid.pk }}">{{ object.productid }}</a></td>
		<td><a href="/products/detail/{{ object.projectversion.pk }}">{{ object.projectversion }}</td>
		<td>{{ object.description }}</td>
		<td>{{ object.get_defectstate_display }}</td>
		<td><a href="/resolutions/detail/{{ object.resolutionid.pk }}">{{ object.resolutionid }}</a></td>
	</tr>	
	{% endfor %}
</table>

<p class="object-list-pagination">
	{% if has_previous %}
		<a href="?page={{ previous }}">Previous</a> | 
	{% endif %}
	
	Page {{ page }} of {{ pages }} 
	
	{% if has_next %}
		| <a href="?page={{ next }}">Next</a>
	{% endif %}
</p>


{% endblock %}
