{% extends "base.html" %}

{% block css %}<link rel="stylesheet" type="text/css" href="/app_media/css/jquery.ui.css" media="all" />{% endblock %}

{% block section %}Reports{% endblock %}

{% block tabs %}
	<ul class="tabs-nav">
	    <li{% block selected_tab_1 %}{% endblock %}><a href="/reports/"><span>Defect List</span></a></li>
	    <li{% block selected_tab_2 %}{% endblock %}><a href="/reports/report02"><span>Defect Lookup</span></a></li>
	    <li{% block selected_tab_3 %}{% endblock %}><a href="/reports/report03"><span>Defects by Version</span></a></li>
	    <li{% block selected_tab_4 %}{% endblock %}><a href="/reports/report04"><span>My Dev List</span></a></li>
	    <li{% block selected_tab_5 %}{% endblock %}><a href="/reports/report05"><span>My QA List</span></a></li>
	    <li{% block selected_tab_6 %}{% endblock %}><a href="/reports/report06"><span>Defect Count</span></a></li>
	    <li{% block selected_tab_7 %}{% endblock %}><a href="/reports/report07"><span>Category List</span></a></li>
	    <li{% block selected_tab_8 %}{% endblock %}><a href="/reports/report08"><span>User List</span></a></li>
	</ul>
{% endblock %}